.GenericProgress-Container {
  background: #fff;
  color: #000;
  text-align: center;
  margin: 75px auto;
}

.page-loader {
  display: inline-grid;
}
.page-loader:before,
.page-loader:after {
  content: '';
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 6;
  --c: #0000 64%, #000 66% 98%, #0000 101%;
  background: radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 25% 100%;
  background-size: calc(100% / 3) 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l10 1.5s infinite linear;
}
.page-loader:after {
  scale: -1;
}
@keyframes l10 {
  50% {
    clip-path: inset(0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}
